nav {
    height: 60px;
    background-color: rgb(228, 239, 139);
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 50px;
}

.logoCtn {
    display:flex;
}

.linksCtn {
    display: flex;
    width: 10%;
    min-width: 100px;
    justify-content: space-between;
    align-items: center;
}

.logoCtn > p {
    display: flex;
    padding: 20px;
    color:black;
    font-weight: bold;
}
