.header {
    width: 100%;
    height: 10%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h3 {
    color:white;
}

.mainCtn {
    width: 100%;
    height: auto;
    display: flex;
    background-color:white;
}

.menuCtn {
    width: 25%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.filterCtn {
    width: 100%;
    height: auto;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    text-align:left;
    padding: 10px 0;
}

.pill {
    margin: 2%;
}

.selected {
    border: 2px solid rgb(5, 189, 5); /* Adds border when selected */
}

.productsCtn {
    width: 75%;
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color:white;
    flex-wrap: wrap;
}

.productCtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.productCtn p {
    color:black;
}

img {
    height: 300px;
    width: 300px;
}


@media (max-width: 1024px) { 

    h3 {
        display:flex;
        align-items:center;
        justify-content: center;
    }

    .mainCtn {
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items:center;
        justify-content: center;
    }

    .menuCtn {
        width: 90%;
        height: auto;
        align-items:center;
        justify-content: center;
    }

    .productsCtn {
        width: 90%;
        height: auto;
    }

    .filterCtn {
        width: 100%;
        display:flex;
        flex-direction:row; /* extra div needed for options */
        justify-content:center;
        align-items:center;
    }

}